:root {
  --bg-color: #fff;
  );
  --primary-text: #1A1A1A;
  --primary-color: #fc9dff;
  --box-shadow: 0 10px 35px rgba(255, 255, 255, 0.5);
  --primary-border: 1px solid var(--primary-color);
  --main-gradient: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
}

@media screen and (max-width: 900px) {
  #contact i::before{
    padding: 10px !important;
  }
}

body {
  background: var(--bg-color);
  font-family: "Inter";
  color: var(--primary-text);
}
.main-content {
  width: 85%;
  margin: 100px auto;
  text-align: left;
}
.main-content p{
  font-size: 18px;
}
.header-content-about {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

.full-height {
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
.main-content-about a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}
.button-container a {
  margin: 10px;
  border-radius: 8px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-text);
  text-align: center;
  text-decoration: none !important;
}
.button-container a:hover {
  box-shadow: var(--box-shadow);
}
.primary-button {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
}
h1,
h2 {
  margin: 5px;
}
h1 {
  font-size: 90px;
}
h2 {
  font-size: 48px;
}
p {
  font-size: 22px;
  margin: -10px auto 30px;
}

.colorful-hr {
  width: 50%;
  margin: 60px auto 60px;
  border: none;
  height: 1px;
background-image: var(--main-gradient);
opacity: 0.6;
}

.content {
  display: flex;
  justify-content: space-around;
}

.column {
  margin: 10px;
  border: var(--primary-border);
  border-radius: 20px;
  text-align: justify;
  padding: 10px;
}

.smaller {
  font-size: 0.9em;
}

.logo {
  padding: 7px;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
  font-size: 24px;
}

.logo:hover{
  box-shadow: inset 100px 0 0 0 #1f1f1f;
  color: #fff !important;
}

.color-header {
  background-image: var(--main-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Inter";
  font-weight: 800;
  font-size: 96px;
}
.greeting {
  font-size: 16px !important;
}

.color-header.smaller{
  font-size: 70px !important;
}

.mailme{
  color: var(--primary-text);
  font-size: 20px;
}

.dev-img{
  height: 100%;
}

#navbarNav{
  font-family: "Inter";
  font-weight: 300;
  font-size: 18px;
}

#contact-me-button::before {
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 2px;
  background: linear-gradient(51.06deg, #9358F7 0.87%, #9259F7 7.31%, #8E5DF6 13.75%, #8862F5 20.19%, #806BF4 26.63%, #7575F2 33.07%, #6882F0 39.51%, #5990EE 45.95%, #4A9FEB 52.39%, #3BADE9 58.84%, #2EBAE7 65.28%, #23C4E5 71.72%, #1BCDE4 78.16%, #15D2E3 84.6%, #11D6E2 91.04%, #10D7E2 97.48%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: add, add;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  content: "";
}
#contact-me-button {
  position: relative;
}
#contact-me-button:hover {
  background: linear-gradient(51.06deg, #9358F7 0.87%, #9259F7 7.31%, #8E5DF6 13.75%, #8862F5 20.19%, #806BF4 26.63%, #7575F2 33.07%, #6882F0 39.51%, #5990EE 45.95%, #4A9FEB 52.39%, #3BADE9 58.84%, #2EBAE7 65.28%, #23C4E5 71.72%, #1BCDE4 78.16%, #15D2E3 84.6%, #11D6E2 91.04%, #10D7E2 97.48%);
  opacity: 0.8;
  color: #fff !important;
}

#portfolio-button::after {
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 2px;
  background: linear-gradient(135deg, #6964DE 2.88%, #FCA6E9 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: add, add;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  content: "";
}
#portfolio-button {
  position: relative;
}
#portfolio-button:hover {
  background: linear-gradient(135deg, #6964DE 2.88%, #FCA6E9 100%);
  opacity: 0.8;
  color: #fff !important;
}

#contact i::before{
  background: linear-gradient(135deg, #6964DEC7 2.88%, #FCA6E9C4 100%);
padding: 20px;
border-radius: 60px;
color: white;
font-size: 20px;
margin: 15px;
}
